<div class="relative w-full flex justify-center flex-col items-center">
  <div class="flex w-[80%] justify-around md:px-[100px] py-20">
    <div class="flex justify-center flex-col xl:w-[50%] w-full">
      <h1 class="text-4xl font-bold mb-10">Royal Enfield Cluj</h1>
      <p class="text-lg text-gray-400">Royal Enfield Cluj este un dealer autorizat Royal Enfield în Cluj-Napoca, recunoscut pentru dedicarea sa către excelență și pasiunea pentru
                                       motociclism. Cu o echipă experimentată și pasionată, oferim o gamă variată de motociclete Royal Enfield, alături de accesorii și servicii de
                                       întreținere de cea mai înaltă calitate. </p>
      <img src="assets/meteor.jpg" alt="" class="md:block w-[100%] h-56 object-cover my-5 mx-auto">
      <p class="text-lg text-gray-400">La Royal Enfield Cluj, ne mândrim cu serviciile noastre, oferind <span class="font-bold italic">garanție fără limită de km</span> pentru
                                       toate modelele. Indiferent dacă sunteți un
                                       motociclist experimentat sau
                                       un începător entuziast, echipa noastră vă va ghida în alegerea motocicletei perfecte care să se potrivească stilului și nevoilor
                                       dumneavoastră. Oferim service autorizat și piese originale pentru a menține motocicleta dumneavoastră în cea mai bună formă. De asemenea,
                                       organizăm evenimente și test drive-uri pentru a vă permite să experimentați pe deplin performanța și calitatea motocicletelor Royal Enfield.
                                       Vă așteptăm cu drag în showroom-ul nostru pentru a descoperi întreaga gamă de produse și servicii pe care le oferim.</p>
      <button class="bg-black text-white rounded-md py-2 hover:bg-gray-700 md:w-1/3 w-full cursor-pointer mt-10 md:self-end" routerLink="/models">Vezi Modele</button>
    </div>
    <video #autoVideo src="assets/Facebook%20Video%20Full%20HD%201080p.mp4" autoplay loop muted
           [volume]="0" class="w-[500px] brightness-75 xl:block hidden"></video>
  </div>
  <div class="flex flex-col w-[80%] justify-around px-[100px]">
    <img src="assets/printesa.png" alt="" class="w-[100%] h-96 object-cover my-5 mx-auto hidden md:block">
    <p></p>
  </div>
</div>
