<div class="flex justify-center items-center p-5 flex-col w-full">
  @if (motorcycle) {
    <h1 class="font-bold text-blue-950 text-3xl">{{ motorcycle.titlu }}</h1>
    <img [src]="'assets/moto/'+ motorcycle.name + '/' + motorcycle.imageSources[0].src + '.png'" alt="" width="500px">
    <div class="w-full p-2 md:w-1/2 italic" [innerHTML]="motorcycle.articleBody"></div>
  }
</div>
<div class="overflow-x-auto flex justify-center items-center pb-10">
  @if (motorcyclePrices.length > 0) {
    <table class="custom-table w-[48.5%]">
      <thead>
      <tr>
        <th>Model</th>
        <th>Colors</th>
        <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let price of motorcyclePrices[0].prices">
        <td>{{ price.model }}</td>
        <td>
          <ul>
            <li *ngFor="let color of price.colors" (click)="openModal(color, price)" class="cursor-pointer text-blue-950">{{ color.name }}</li>
          </ul>
        </td>
        <td>{{ price.price }}</td>
      </tr>
      </tbody>
    </table>
  }
</div>
<div id="default-modal" tabindex="-1"
     class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 md:top-[25%] md:left-[35%] justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
     *ngIf="showModal">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <div class="relative rounded-lg shadow bg-gray-700">
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-600">
        <h3 class="text-xl font-semibold text-white">
          {{ motorcycle?.titlu }}
        </h3>
        <button type="button"
                class="text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center hover:bg-gray-600 hover:text-white"
                (click)="closeModal()">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <div class="p-4 md:p-5 space-y-4">
        <img [src]="imageSource" alt="">
        <div class="flex md:flex-row flex-col justify-between ">
          <p class="text-base leading-relaxed text-gray-400">
            {{ colorName }}
          </p>
          <p class="text-white">
            {{ motorcyclePrice }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
